* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 25px;
    padding-bottom: 20px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    padding-top: 10px;
    margin-top: 50px;
    color: #fff;
}

.review {
    max-width: 550px;
    width: 100%;
    border: 1px transparent;
    max-height: 550px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; 
    background-color: white;
}

.review img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

h4 {
    font-size: 20px;
    padding-top: 15px;
}

p#job {
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);
}

p#info {
    padding: 10px;
}

.button-container {
    padding: 10px 20px;
}

.random-btn {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    width: 100px;
    height: 40px;
}

.random-btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.next-btn {
    border: 1px none;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.prev-btn {
    border: 1px none;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.prev-btn:hover {
    transform: scale(1.1);
    color: black;
}

.next-btn:hover {
    transform: scale(1.1);
    color: black;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
    .review {
        max-width: 88%;
    }
}
